extends layout

block content
  h3 Pricing
  p.lead Employee scheduling made simple.

  html
  head
    meta(charset='UTF-8')
    title Become Brilliant
    meta(name='viewport', content='width=device-width')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .wrapper
      .package
        .name Limited
        .price €2
        .trial Available for a month
        hr
        ul
          li
            strong 8
            |         team members
          li
            strong 6
            |         team playlists
          li
            strong Unlimited
            |         public playlists
      .package.brilliant
        .name Brilliant
        .price €5
        .trial Free 30 day trial
        hr
        ul
          li
            strong Unlimited
            |         team members
          li
            strong Unlimited
            |         team playlists
          li
            strong Unlimited
            |         public playlists
          li
            | Team analytics
          li
            | Send files
      .package
        .name Basic
        .price €0
        .trial Totally free
        hr
        ul
          li
            strong 5
            |         team members
          li
            strong 3
            |         team playlists
          li
            strong Unlimited
            |         public playlists
